<h3>Your Thoughts on "<%= @comment.log.title %>":</h3>

<h5>Title:</h5>
<%= @comment.title %>
<br>
<h5>Content:</h5>
<%= @comment.entry %>
<br><br>
<%# link_to "Go back to comments", comments_path %>
<br><br>
<%= link_to "Return Home", users_path %>