<h3> Explore Categories: </h3>
<%= link_to "Return Home", users_path %>
<br><br>
<ul>*click to explore*</ul>
<br>
<% @goals.each do |goal| %>
    <li>
    <%= link_to goal.category, goal.link%>
    <br><br>
    </li>
<% end %>

