<h3>All Entries</h3>

<div>
<%= link_to "Return Home", users_path %><br><br>
<% @logs.each do |log| %>
    
    <li>

    <%= link_to log.title, log_path(log) %>  
    <br><br>
    </li>
<% end %>
</div>